<div id="cvsparent"><canvas id="cvsedit"></canvas></div>
<div ng-controller="tabController as tab">
    <div class="ui top attached tabular menu">
        <a class="item" ng-class="{active : tab.active === 1}" ng-click="tab.active=1">Presets</a>
        <a class="item" ng-class="{active : tab.active === 2}" ng-click="tab.active=2">Custom</a>
    </div>
    <div class="ui bottom attached segment" ng-show="tab.active === 2">
        <div class="ui three column grid">
            <div class="column">
                <h5>Brightness</h5>
                <label>{{imgC.brightness}}</label>
                <input type="range" min="-100" max="100" step="1" value="0" ng-model="imgC.brightness" ng-change="imgC.render()"></input>
            </div>
            <div class="column">
                <h5>Contrast</h5>
                <label>{{imgC.contrast}}</label>
                <input type="range" min="-100" max="100" step="1" value="0" ng-model="imgC.contrast" ng-change="imgC.render()"></input>
            </div>
            <div class="column">
                <h5>Saturation</h5>
                <label>{{imgC.saturation}}</label>
                <input type="range" min="-100" max="100" step="1" value="0" ng-model="imgC.saturation" ng-change="imgC.render()"></input>
            </div>
            <div class="column">
                <h5>Vibrance</h5>
                <label>{{imgC.vibrance}}</label>
                <input type="range" min="-100" max="100" step="1" value="0" ng-model="imgC.vibrance" ng-change="imgC.render()"></input>
            </div>
            <div class="column">
                <h5>Exposure</h5>
                <label>{{imgC.exposure}}</label>
                <input type="range" min="-100" max="100" step="1" value="0" ng-model="imgC.exposure" ng-change="imgC.render()"></input>
            </div>
            <div class="column">
                <h5>Hue</h5>
                <label>{{imgC.hue}}</label>
                <input type="range" min="0" max="100" step="1" value="0" ng-model="imgC.hue" ng-change="imgC.render()"></input>
                
            </div>
            <div class="column">
                <h5>Gamma</h5>
                <label>{{imgC.gamma}}</label>
                <input type="range" min="1" max="10" step="0.1" value="0" ng-model="imgC.gamma" ng-change="imgC.render()"></input>
                
            </div>
            <div class="column">
                <h5>Noise</h5>
                <label>{{imgC.noise}}</label>
                <input type="range" min="0" max="100" step="1" value="0" ng-model="imgC.noise" ng-change="imgC.render()"></input>
                
            </div>
            <div class="column">
                <h5>Blur</h5>
                <label>{{imgC.stackBlur}}</label>
                <input type="range" min="0" max="100" step="1" value="0" ng-model="imgC.stackBlur" ng-change="imgC.render()"></input>
                
            </div>
        </div>  
    </div>
    <div class="ui bottom attached segment" ng-show="tab.active === 1">
            <button class="ui primary button" ng-click="imgC.effect('vintage')">Vintage</button>
            <button class="ui primary button" ng-click="imgC.effect('lomo')">Lomo</button>
            <button class="ui primary button" ng-click="imgC.effect('clarity')">Clarity</button>
            <button class="ui primary button" ng-click="imgC.effect('sinCity')">Sin City</button>
            <button class="ui primary button" ng-click="imgC.effect('sunrise')">Sunrise</button>
            <button class="ui primary button" ng-click="imgC.effect('crossProcess')">Cross Process</button>
            <button class="ui primary button" ng-click="imgC.effect('orangePeel')">Orange Peel</button>
            <button class="ui primary button" ng-click="imgC.effect('love')">Love</button>
            <button class="ui primary button" ng-click="imgC.effect('grungy')">Grungy</button>
            <button class="ui primary button" ng-click="imgC.effect('jarques')">Jarques</button>
            <button class="ui primary button" ng-click="imgC.effect('pinhole')">Pinhole</button>
            <button class="ui primary button" ng-click="imgC.effect('oldBoot')">Old Boot</button>
            <button class="ui primary button" ng-click="imgC.effect('glowingSun')">Glowing Sun</button>
            <button class="ui primary button" ng-click="imgC.effect('hazyDays')">Hazy Days</button>
            <button class="ui primary button" ng-click="imgC.effect('herMajesty')">Her Majesty</button>
            <button class="ui primary button" ng-click="imgC.effect('nostalgia')">Nostalgia</button>
            <button class="ui primary button" ng-click="imgC.effect('hemingway')">Hemingway</button>
            <button class="ui primary button" ng-click="imgC.effect('concentrate')">Concentrate</button>
    </div>
</div>