h1 {
	color : lightblue;	
}

.ui.segment {
	background-color:Azure;
	background-image: url("/img/back.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}

.images {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width:600px;
  height:600px;
	text-align: center;
	background-color: white;
  box-shadow: inset 0 0 0 3px #2c3e50;
  overflow: hidden;
}

.content > h1 {
	font-family: 'Lobster', cursive;
	text-align: left;
	margin-left:50px;
	margin-top:10px;
}
.likes > div {
	background-color:#F0F0F0;
	display: inline-block;
	width:100px;
}

.likes >.like {
	margin-left:30%;
	width:100px;
	height:35px;
	padding-top: 5px;
	color:#E66565;
}

.ui.segment.edit {
	text-align: center;
}
.likes > div >.visible.content
{
	color: #E66565;
}
svg {
	position: absolute;
	top: 0;
	left: 0;
}
svg line {
	stroke-width: 10;
	stroke: Azure;
	fill: none;
	stroke-dasharray: 600;
	transition: transform .6s ease-out;
}

.images:hover svg line.top {
  transform: translateX(-1200px);
}

.images:hover svg line.bottom {
  transform: translateX(1200px);
}

.images:hover svg line.left {
  transform: translateY(1200px);
}

.images:hover svg line.right {
  transform: translateY(-1200px);
}

.images > .content {
	margin: 10px;
	width: 580px;
	height:580px;
}