h1 {
	color : lightblue;	
}
body{
	background-color: Azure;
}
.ui.segment {
	background-color: rgb(254,254,254);
	background-image: url("/img/back.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}

.images {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width:600px;
  height:600px;
	text-align: center;
	background-color: white;
  box-shadow: inset 0 0 0 3px Azure;
  overflow: hidden;
}

.content > h1 {
	font-family: 'Lobster', cursive;
	text-align: left;
	margin-left:50px;
	margin-top:10px;
}
.likes > div {
	display: inline-block;
	width:100px;
}

.likes >.like {
	margin-left:30%;
}

.ui.segment.edit {
	text-align: center;
}
.likes > div >.visible.content
{
	color: #E66565;
}
svg {
	position: absolute;
	top: 0;
	left: 0;
}
svg line {
	stroke-width: 5;
	stroke: lightblue;
	fill: none;
	stroke-dasharray: 600;
	transition: transform .6s ease-out;
}

.images:hover svg line.top {
  transform: translateX(-1200px);
}

.images:hover svg line.bottom {
  transform: translateX(1200px);
}

.images:hover svg line.left {
  transform: translateY(1200px);
}

.images:hover svg line.right {
  transform: translateY(-1200px);
}

.images > .content {
	margin: 10px;
	width: 580px;
	height:580px;
}
.three.grid > .column > h5{
	display: inline-block;
}
#myCanvas{
	position: absolute;
	height: 100%;
	width: 100%;
}
.comments > .comhead >*{
	display: inline-block;
	margin: 10px 80px;
}

.comments >.commcontent>.commuser {
	text-align: left;
	margin-left: 50px; 
}
.comments > .commcontent >p{
	text-align: justify;
	margin-left: 20px;
	width: 320px;
}

.comments > .commcontent >*{
	vertical-align: middle;
	display: inline-block;
}