h1 {
	color : lightblue;	
}
body{
	background-color: Azure;
}
body > div >div > .ui.segment {
	background-color: rgb(254,254,254);
	background-image: url("/img/back.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	position: fixed;
	left: 0px;
	right:0px;
	bottom:0px;
	top:50px;
	overflow: auto;
	
}

.images {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width:600px;
  height:600px;
	text-align: center;
	background-color: white;
  box-shadow: inset 0 0 0 3px Azure;
  overflow: hidden;
}

.content > .img {
	width:300px;
	height:300px;
	margin-left: auto;
	margin-right: auto;
	background-size: 100%;
	background-position: 50%;
	
}

.content > .img:hover{
	cursor: pointer;
}

.content > h1 {
	font-family: 'Lobster', cursive;
	text-align: left;
	margin-left:50px;
	margin-top:10px;
}
.likes > div {
	display: inline-block;
	width:100px;
}

.likes >.like {
	margin-left:30%;
}

.ui.segment.edit {
	text-align: center;
}
.likes > div >.visible.content
{
	color: #E66565;
}
svg {
	position: absolute;
	top: 0;
	left: 0;
}
svg line {
	stroke-width: 5;
	stroke: lightblue;
	fill: none;
	stroke-dasharray: 600;
	transition: transform .6s ease-out;
}

.images:hover svg line.top {
  transform: translateX(-1200px);
}

.images:hover svg line.bottom {
  transform: translateX(1200px);
}

.images:hover svg line.left {
  transform: translateY(1200px);
}

.images:hover svg line.right {
  transform: translateY(-1200px);
}

.images > .content {
	top:10px;
	left:10px;
	bottom:10px;
	right:10px;
	position: absolute;
}
.three.grid > .column > h5{
	display: inline-block;
}
#myCanvas{
	position: absolute;
	height: 100%;
	width: 100%;
}
.comments > .comhead >*{
	display: inline-block;
	margin: 10px 80px;
}

.comments >.commcontent>.commuser {
	text-align: left;
	margin-left: 50px; 
}
.comments > .commcontent >p{
	text-align: justify;
	margin-left: 0px;
	height: 60px;
	width: 320px;
	overflow: auto;
	padding: 10px;
	border-radius:0 10px;
}

.comments > .commcontent >*{
	vertical-align: middle;
	display: inline-block;
	background-color: #E6E6F3;
	overflow: hidden;
	margin: 0px;
}

.comments > .commcontent > .commuser{
	height: 60px;
	padding: 16px;
	overflow: hidden;
	border-radius:0 10px;
}
.comments > .comhead >h5 {
	font-family: 'Pacifico', inherit;
	color: #00BFFF;
	margin-left: 4px;
}
.comments > .comhead > div{
	color: #00BFFF;
	margin-right: 0px;
	padding-left: 50px;
}

image-edit>div>div>.ui.button{
	margin: 5px 3px 10px 5px;
}